<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- This file store project specific CSS -->
    <link href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}css/project.css" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template, 
        then move to project.css -->
    {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock extra_css {% templatetag closeblock %}
  </head>

  <body>
      {% templatetag openblock %} block content {% templatetag closeblock %}
        <p>This is your new omakase project. To make your first app type:</p>
        <pre>python manage.py startapp chocolate_taster</pre>
      {% templatetag openblock %} endblock content {% templatetag closeblock %}

    <!-- place project specific Javascript in this file -->
    <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/project.js"></script>

    {% templatetag openblock %} block extra_js {% templatetag closeblock %}{% templatetag openblock %} endblock extra_js {% templatetag closeblock %}
  </body>
</html>
